:root {
  --mainColor: #92e3a9;
  --grayColor: #e7e7e7;
}

body {
  margin: 0;
  font-family: "Cairo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -moz-osx-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

code {
  font-family: "Cairo", sans-serif;
}
